    *{
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
    }

    body{
        
        background: rgba(0,0,0,1);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        min-height: 100vh;
        width: 100%; 
        perspective: 1px;
        transform-style: preserve-3d; 
        overflow-x: hidden;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: antiquewhite;

    }

    #container{
        background: white;
        color:black;
        width:50%;
        margin-left:25%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        backdrop-filter: blur(15px); 
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT74aiEsbBBwHzL0GATMySa6GPAyUBob0SnNMCKgiOfOgJ-HMl4L6Xz56kKMy5v9nu6OU&usqp=CAU'); 
        /* opacity:0.9; */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    body::before {
        content: "";
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT74aiEsbBBwHzL0GATMySa6GPAyUBob0SnNMCKgiOfOgJ-HMl4L6Xz56kKMy5v9nu6OU&usqp=CAU');  
        /* background: rgba(255, 255, 255, 0.1);   */
        /* background-color: #eb3cf5;  */
        filter: blur(10px); 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; 
    
    }



    #container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        /* background: rgb(42,43,222); */
        background: rgba(255, 255, 255, 0.5);  
        backdrop-filter: blur(15px); 
    opacity: 0.9;
    }


    h2 {
        text-align: center;
        color: #333;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 10px;
        font-weight: bold;
    }

    span {
        color: #007BFF;
    }


    #container ul {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }


    #announcementsList {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #organizersList {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


    @media (max-width: 320px) {
        body {
            font-size: 15px;
        }

        #container{
            width: 100%;
        }
    }

    @media (max-width: 425px) {
        body {
            font-size: 15px;
        }

        #container{
            width: 95%;
        }

    }